body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo{
    width: 100%;
    height: 80px;
    background-color:rgb(52, 86, 124);
    border-bottom: 3px solid rgb(35, 62, 94) ;

    display: flex;
}

.titulo h1{
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
}

.container {
    padding: 0;
    width: 800px;
    margin: 10px auto 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wallpaper img{
    position: absolute;
    z-index: -1;
    border-radius: 5%;
    width: 250px;
    height: 165px;
}

.cards{
    list-style: none;
    margin: 25px 0 0;
    width: 250px;
    height: 350px;
    border-radius: 5%;
    border: 3px solid rgb(52, 86, 124);
    box-shadow: 2px 10px 15px rgb(0, 0, 0, .4);
    background-size: 275px;
    background-repeat: no-repeat;


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cards:hover{
    box-shadow: 4px 20px 30px rgb(0, 0, 0, .6);
}

.cards:hover .icons img{
    opacity: 0.8;
}

.cards:hover .conteudo p{
    opacity: 1;
}

.perfil{
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: end;

}

.perfil img{
    box-shadow: 0 1px 45px rgb(0, 0, 0, .7);
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.conteudo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(32, 32, 32);
    margin: 10px auto 25px;

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;   
    justify-content: center;
    align-content: flex-start;
}

.conteudo h2{
    width: fit-content;
    height: fit-content;

    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

.conteudo p{
    opacity: .7;
    width: fit-content;
    height: 30px;    
    font-size: 14px;
}

.icons{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
}

.icons img{
    opacity: 0;
    height: 20px;
    width: 20px;
}
