body{
    margin: 0;
}


.titulo h1{

    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.container {
    margin: 40px auto;
    padding: 0;
    width: 800px;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards{
    list-style: none;
    margin: 25px 0 0;
    width: 250px;
    height: 350px;
    border-radius: 5%;
    border: 3px solid rgb(52, 86, 124);
    box-shadow: 2px 5px 1px rgba(0, 0, 0, 0.336);
    background-image:url(Imagens/thumb05.jpg);
    background-size: 275px;
    background-repeat: no-repeat;


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.perfil{
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: end;
}

.perfil img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.conteudo{


    font-size: 18px;
    font-family:'Times New Roman', Times, serif;

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    align-items: center;
}

.conteudo h2{
    margin: 0;

}

.conteudo p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.icons{
    border: solid 1px;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.icons img{

    height: 20px;
    width: 20px;
}