body{
    background-color: rgb(43, 43, 43);
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

header{
    height: 150px; 
    justify-content: ;
}

header h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
}

ul{
    background-color: rgb(65, 65, 65);
    height: 400px;
    width: 500px;
    border-radius: 5%;
    border: 2px solid black;
    margin: 10px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

li{
    margin: 5px auto;
    border-radius: 5%;
    padding: 5px;
    height: 100px;
    width: 450px;
    display: flex   ;
}

.foto{
    margin: 2px;
    display: flex;
    height: 95px;
    width: 95px;
}

.perfil img{
    border-radius: 50%;
    height: 95px;
    width: 95px;
    background-size: cover;
}

article{
    margin-left: 10px;
}

article h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
}

.conteudo{
    display: flex;
    width: 335px;
    justify-content: space-between;
}

.email p{
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
}

.link{
    height: 30px;
    list-style: none;
}

.link img{
    width: 20px;
    height: 20px;
    opacity: 0;
}

li:hover{
    background-color: rgb(85, 85, 85);
    font-weight: bold;
}

li:hover img{
    opacity: 1;
}