@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-size: 100%;
    font-family: 'Roboto';
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    min-width: 10vh;
    background-color: rgb(46, 46, 46);
    position: fixed;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40%;
}

.header__img{
    width: 100px;
    height: 50px;
}

.header__nav{
    list-style: none;

    display: flex;
    gap: 1rem;
}

.header__nav a{
    color: gold;
    border: 1px solid gold;
    font-size: .8rem;
    text-decoration:none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    padding: .4rem 1.2rem;
}

.header__nav a:hover{
    background-color: rgb(37, 37, 37);
}

main{
    margin-top: 10vh;
}

.hero{
    background: linear-gradient(to bottom, #ffffff, rgba(255, 217, 0, 0.534));
    width: 100%;
    max-height: 90vh;
    min-height: 90vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__text{
    width: 35%;
}
.hero__text-title{
    font-size: 4rem;
}

.hero__text-button{
    color: black;
    background-color: gold;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 5px;
}

.hero__img{
    margin-top: 70px;
}

.content{
    width: 100%;
    min-height: 100vh;
}

.content__title{
    margin-top: 3%;
    font-size: 2rem;
    text-align: center;
}

.content__container{
    margin: auto;     
    width: 90%;
    display: flex;
    justify-content: space-around;
    gap: 4%;
}

.content__container-model{
    width: 500px;
    border: 1px solid;
}