body{
    background-color:#8d8d8d;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.voltar{
    position:absolute;
    left: 2.5%;
}

.menu{
    width: 95%;
}

.menu ul{
    display: inline-block;
    width: 100%;
    text-align: right;
}

.menu li{
    display: inline-block;
}

.menu a{
    margin-top: 10px;
    display: inline-block;
    padding: 15px 20px;
    background-color: rgb(107, 107, 107);
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border: 1px white solid;
}

.menu ul li a:link{
    text-decoration: none;
}

.menu ul li a:hover{
    text-decoration: underline;
}

.principal {
    height: 500px;
    background-image: url(imagens/bg-3.jpg);
    background-position: center;
    background-size: cover;
}

.principal h1{
    margin-top: 100px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #080808;
    font-weight: bold;
    font-size: 52px;
}

.principal h2{
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    border-bottom: white solid 2px;
    font-size: 14px;
    width: 400px;
    margin: 60px auto;
    padding: 10px;
}

.conteudo{
    width: 80%;
    margin: auto;
}

.conteudo article{
    background-color: white;
    padding: 10px;
    margin: 20px auto;
}

.conteudo article h3{
    background-color: #c0c0c0;
    margin: 0;
    padding: 5px;
    border-bottom: #8d8d8d solid 1px;
    font-size: 24px;
    font-weight: bold;
}

.conteudo article p{
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
}

.conteudo article ul{
    display: inline-block;
    width: 100%;    
    margin: 0;
    padding: 0;
}

.conteudo article li{
    display: inline-block;
}

.conteudo article a{
    padding: 10px;
    display: inline-block;
    background-color: #929292;
}

.rodape{
    background-color: #4d4d4d;
    margin-bottom: 0;
    border: solid 1px #4d4d4d;
    text-align: center;
    font-size: 12px;
    color: white;
}
