@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto&display=swap');

body{
    margin: 0;   
    padding: 0;

    font-family: "Roboto",sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.main{
    width: 100%;
    height: 100vh;

    display: flex;
}

.main__header{
    width: 100%;
    height: 12vh;
    position: fixed;

    background-color: #1f1f1f;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__header-nav li{
    display: flex;
}

.main__header-nav a{
    color: #7c7c7c;
    font-size: .9em;
    text-transform: uppercase;
    text-decoration: none;

    transition-duration: .5s;
}

.main__header-nav a:hover{
    color: white;
}

.main__img{
    width: 100%;
    height: 88vh;
    margin-top: 12vh;

    background-image: url(Imagens/back.jpg);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


.main__img-title{
    width: 100%;
    background-color: #1f1f1faf;
    color: white;
    font-size: 7em;
    font-family: "Italiana", sans-serif;
    text-align: center;

    box-shadow: 0px 0px 40px 50px #1f1f1f;

    transition-duration: .7s;
    transition-property: all;
}

.main__img-title:hover{
    font-size: 8em;
    background-color: #1f1f1f;    
}

.content{
    padding-top: 1%;
    border: 1px solid #1f1f1f00;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
    width: 75%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content__title{
    font-size: 2em;
    font-family: "Italiana", sans-serif;
    margin: 0;
}

.content__text{
    margin: 0 0 30px;
    width: 80%;
    color: #363636;
    text-align: center;
    line-height: 2em;
}

.content__img{
    display: flex;
    gap:35px;

    text-align: center;
}

.content__img--model h3{
    margin: 0;
}

.content__img--model{
    transition-duration: 0.5s;
    border: 1px solid rgb(255, 255, 255);
}

.orange:hover{
    border-radius: 10%;
    outline: 1px solid rgba(255, 68, 0, .5);
}

.green:hover{
    border-radius: 10%;
    outline: 1px solid rgb(0, 128, 0, .5);
}

.blue:hover{
    border-radius: 10%;
    outline: 1px solid rgb(0, 0, 255, .5);
}