@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto&display=swap');

html{
    font-size: 100%;
}

body{
    margin: 0;   
    padding: 0;
    width: 100%;
    font-family: "Roboto",sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 100%;
    min-height: 100vh;

    display: flex;
}

.main__header{
    width: 100%;
    min-height: 12vh;
    position: fixed;

    background-color: #1f1f1f;
    border-bottom: #1f1f1f solid 1px;
    transition: 0.3s ease-in border-bottom;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__header:hover{
    border-bottom: orange solid 2px;
}

.main__header-nav{
    width: 20vw;
}

.main__header-nav ul{
    display: flex;
    justify-content: space-between;

    padding: 0;
    list-style: none;
}

.main__header-nav a{
    color: #7c7c7c;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: none;

    transition: .5s color;
}

.main__header-nav a:hover{
    color: white;
}

.main__img{
    width: 100%;
    min-height: 88vh;
    margin-top: 12vh;

    background-image: url(Imagens/back.jpg);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


.main__img-title{
    width: 100%;
    padding: 2rem 0;
    background-color: #1f1f1faf;
    color: white;
    font-size: 7rem;
    font-family: "Italiana", sans-serif;
    text-align: center;

    box-shadow: 0px 0px 40px 50px #1f1f1f;

    transition-duration: .7s;
    transition-property: all;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main__img:hover .main__img-title{
    font-size: 8rem;
    background-color: #1f1f1f;    
    padding: 2.1rem;
}

.content{
    padding: 1% 0;
    margin: 5% 0;
    padding-top: 1%;
    border: 1px solid #1f1f1f00;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
    width: 75%;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content__title{
    font-size: 2rem;
    font-family: "Italiana", sans-serif;
    margin: 0;
}

.content__text{
    width: 80%;
    color: #363636;
    text-align: center;
    line-height: 2rem;
}

.content__img{
    width: 100%;
    display: flex;
    gap: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content__img a{
    color: #363636;
    text-decoration: none;    
}

.content__img--model h3{
    margin: 0;
}

.content__img--model{
    transition-duration: 0.5s;
    border: 1px solid rgb(255, 255, 255);
}

.orange:hover{
    border-radius: 10%;
    outline: 1px solid rgba(255, 68, 0, .5);
}

.green:hover{
    border-radius: 10%;
    outline: 1px solid rgb(0, 128, 0, .5);
}

.blue:hover{
    border-radius: 10%;
    outline: 1px solid rgb(0, 0, 255, .5);
}

.container{
    width: 100%;
}

.end{
    background-color: #1f1f1f;
    width: 100%;
    min-height: 87vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.end__title{
    font-family: "Italiana", sans-serif;    
    font-size: 3rem;
    margin: 0;
    color: white;
}

.end__content{
    min-height: 65vh;
    width: 70%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1.5s all cubic-bezier(.56,-0.02,1,1) ;
    opacity: 0;
}

.container:hover .end__content{
    box-shadow: 0 0 10px;
    border-radius: 20px;
    opacity: 1;
}

.end__content img{
    min-height: 450px;
    width: 450px;
}

.end__content-text{
    margin-left: 30px;
    text-align:start;
    width: 42%; 
    color: rgb(255, 255, 255);
    line-height: 2rem;
}

.footer{
    width: 100%;
    height: 3vh;
    background-color: orange;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #1f1f1f;
    font-size: .9rem;
}