body{
    background-color: rgb(43, 43, 43);
    margin: 0;
}

header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}

header h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
}

main{
    background-color: whitesmoke;
    height: 400px;
    width: 500px;
    border: 2px solid black;
    margin: 10px auto;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    overflow: scroll;
}

article{
    overflow: hidden;
    margin: 5px auto;
    border: 2px solid black;
    height: 100px;
    width: 450px;

    display: flex;
}

.img{
    order: -1;
    margin: 10px;
    height: 90px;
    width: 90px;
}

.conteudo{
    border: 2px solid;
}
