body{
    background-color: rgb(43, 43, 43);
    margin: 0;
}

header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}

header h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
}

main{
    background-color: whitesmoke;
    height: 400px;
    width: 500px;
    border: 2px solid black;
    margin: 10px auto;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    overflow: scroll;
}

article{
    overflow: hidden;
    margin: 5px auto;

    border: 2px solid;
    height: 100px;
    width: 450px;
    
    display: flex;
}

article :hover{
    font-weight: bold;
}

.perfil img{
    order: -1;
    margin: 10px;
    height: 90px;
    width: 90px;
    background-size: cover;
}

.conteudo{
    margin: 0 10px;
    flex-grow: 1;
}

.conteudo h2{
    color: rgb(53, 53, 53);
    margin: 10px 0 0;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.link a{
    text-decoration: none;
    color: rgba(53, 53, 53, 0.747);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 230px;
}
.link img{
    
    height: 18px;
    width: 18px;
}
