@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');


body{
    background-color:rgb(21, 24, 23);
    color: white;
    margin: 0 auto;
    width: 1000px;  
}

nav{
    background-color:rgb(12, 14, 13);
    padding: 0 80px;

    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    width: 300px;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

nav a:hover{
    text-decoration: underline;
}

nav a{
    color: white;
    text-decoration: none;
}

header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;

    height:100px;
    margin: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

article{
    background-color: rgb(34, 39, 37);
    height: 290px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(12, 14, 13);
    border-radius: 4px;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article:hover{
    box-shadow: 4px 4px 20px rgb(7, 8, 8);
}

.conteudo{
    width:100% ;
}

.conteudo h3{
    font-size: 22px;

    margin: 0;
    padding: 0 0 4px;
    border-bottom: 2px solid rgba(128, 255, 0, 0.527);
}

.conteudo ul{
    color: rgba(255, 255, 255, 0.719);
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style-position: inside;
}

.conteudo li{
    margin-bottom: 4px;
}

.conteudo li::marker{
    color: rgba(128, 255, 0, 0.527);
}

.conteudo p b{
    font-size: 28px;
}

.botao{
    width:100% ;
    height: 40px;
    background-color: rgba(128, 255, 0, 0.527);
    border-radius: 4px;

    display: flex;
}

.botao a{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    color: rgb(21, 24, 23);
    font-weight: bold;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;  
}

.botao:hover{
    background-color: rgb(88, 175, 2);
}