body{
    background-color:rgb(21, 24, 23);
    color: white;
    margin: 0 auto;
    width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color:rgb(12, 14, 13);
    padding: 0 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
}

nav ul{
    width: 300px;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

nav a:hover{
    text-decoration: underline;
}

nav a{
    border-radius: 5%;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.pagina{
    background-color: chartreuse;
    color: #0c1014;
    text-decoration: none;
    pointer-events: none;
}

.titulo{
    font-size: 62px;

    height:100px;
    margin: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

article{
    background-color: rgb(34, 39, 37);
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(12, 14, 13);
    border-radius: 4px;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article:hover{
    box-shadow: 4px 4px 20px rgb(7, 8, 8);
}

.conteudo{
    width:100% ;
    flex-grow: 1;
}

.conteudo h3{
    font-size: 22px;    
    text-transform: uppercase;

    margin: 0;
    padding: 0 0 4px;
    border-bottom: 2px solid chartreuse;
}

.conteudo ul{
    color: rgba(255, 255, 255, 0.719);
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style-position: inside;
}

.conteudo li{
    margin-bottom: 4px;
}

.conteudo li::marker{
    color: chartreuse;
}

.conteudo p b{
    font-size: 28px;
    font-weight: normal;
}

.botao{
    width:100% ;
    height: 40px;
    background-color: chartreuse;
    border-radius: 4px;
    margin-top: 30px;

    display: flex;
}

.botao a{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    color: rgb(21, 24, 23);
    font-weight: bold;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;  
}

.botao:hover{
    background-color: rgb(88, 175, 2);
}