.titulos{
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
    background-color: antiquewhite;
    border: none;
    width: 90px;
    margin: auto;
    text-align: center;
    font-style: normal;
    text-decoration: none;
}

.container2{
    margin: auto;
    border: solid 2px #280b4f ;
    padding: 2px;
    height: 300px;
    width: 200px;
    z-index: 2;
}

.containerposition{
    margin: auto;
    border: 1px solid;
    padding: 10px 15px;
    width: fit-content;
}

.static{
    margin: 20px auto;
    position: static;
}

.relative{
    background-color: antiquewhite;
    margin: 20px auto;
    position: relative;
    z-index: 1;
    left: 70px;
    top: 10px;
}

.absolute{
    margin: 20px auto;
    position:absolute;
    left: 10px;
}

.fixed{
    margin: 20px auto;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.container{
    margin: auto;
    color: white;
    background-color: #280b4f;
    padding: 2px;
    height: 100px;
    width: 100px;
}

.hidden{
    overflow: hidden;
}

.scroll{
    overflow: scroll;
}

.botaocenter{
    margin: 0 auto 2px;
    width: 100%;
    padding: 0;
    display: inline-block;
}

.botaocenter li{
    display: inline-block;
}

.botaocenter a{
    display: inline-block;
    padding: 10px;
    border: #280b4f solid 1px;
}

.estilo{
    background-color: rgb(180, 162, 248);
    text-align: center ;
    width: 70px; 
    margin: 10px auto;
    padding: 10px;
}

.border-1{
    border-style: none;
}

.border-2{
    border-style: hidden;
}

.border-3{
    border-style: dotted;
}

.border-4{
    border-style: dashed;
}

.border-5{
    border-style: solid;
}

.border-6{
    border-style: double;
}

.border-7{
    border-style: groove;
}

.border-8{
    border-style: ridge;
}

.border-9{
    border-style: inset;
}

.border-10{
    border-style: outset;
}

.outline-1 {
    outline-style: none;
}

.outline-2 {
    outline-style: hidden;
}

.outline-3 {
    outline-style: dotted;
}

.outline-4 {
    outline-style: dashed;
}

.outline-5 {
    outline-style: solid;
}

.outline-6 {
    outline-style: double;
}

.outline-7 {
    outline-style: groove;
}

.outline-8 {
    outline-style: ridge;
}

.outline-9 {
    outline-style: inset;
}

.outline-10 {
    outline-style: outset;
}
