body{
    background-color:antiquewhite;
}

h1{
    color: #020023;
    font-family: 'Courier New';
    font-size: 56px;
    text-align: center;
    text-transform: capitalize;
}

h2{
    color: #0f0432;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 32px;;
    text-indent: 15px;
    text-transform: capitalize;
}

h3{
    color: #1b0741;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-transform: capitalize;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
}


