body{
    background-color:antiquewhite;
    width: 80%;
    margin: 10px auto;
}

.botaocenter{
    margin: 0 auto 2px;
    width: 100%;
    padding: 0;
    display: inline-block;
}

.botaocenter li{
    display: inline-block;
}

.botaocenter a{
    display: inline-block;
    padding: 10px;
    border: #280b4f solid 1px;
}

h1{
    color: #020023;
    background-color: #cba7fa;
    border-bottom: 5px solid #624f7a;
    margin: 0 0 5px;
    font-family: 'Courier New';
    font-size: 56px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1;
}

h2{
    color: #0f0432;
    border: double;
    width: 450px;
    margin: 5px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 32px;;
    text-align: center;
    text-transform: capitalize;
}

h3{
    color: #1b0741;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
    line-height: 1,5;
}

ul{
    margin: auto;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
}

ol{
    margin: auto;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
}
