body{
    background-color:antiquewhite;
}

h1{
    color: #020023;
    background-color: #cba7fa;
    border-bottom: 5px solid #624f7a;
    margin: 0%;
    font-family: 'Courier New';
    font-size: 56px;
    text-align: center;
    text-transform: capitalize;
}

h2{
    color: #0f0432;
    border: double;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 32px;;
    text-align: center;
    text-transform: capitalize;
}

h3{
    color: #1b0741;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
}

ul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
}

ol{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #280b4f;
}

.estilo{
    background-color: rgb(180, 162, 248);
    text-align: center ;
    width: 70px; 
    margin: 10px auto;
    padding: 10px;
}

